        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h4> <i class="fa fa-stack-exchange" aria-hidden="true"></i>
                &nbsp; Administración de Inventario
            </h4>
            <hr>
            <a class="btn btn-primary navbar-btn text-white" type="button"  
                href="{% url 'CategoryList' %}">
                    Categorías 
            </a>
            <a class="btn btn-primary navbar-btn text-white" type="button"  
                href="{% url 'ProductList' %}"> 
                    Productos
            </a>
        </div>
        <br>
