{% extends 'profiles/staff/base-staff.html' %}
{% load static %}

{% block staff-content %}
<div class="container table-responsive-sm">
    <ul>
    
        {% for product in products %}
          <li>
            <a href="{% url 'ProductDetail' product.id %}">
              {{ product }}
            </a>
          </li>
          <div style="display: flex; column-gap: 5px;">
            <button>
              <a href="{% url 'ProductDelete' product.id %}">Eliminar</a>
            </button>
            <button>
              <a href="{% url 'ProductUpdate' product.id %}">Editar</a>
            </button>
          </div>
        {% endfor %}
          
      </ul>

      <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Marca</th>
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{% url 'product_info' product.slug %}">{{ product.title }}</a></td>
                <td>{{ product.brand }}</td>
                <td>{{ product.description|truncatewords:10 }}</td>
                <td>{{ product.category }}</td> <!-- Muestra la categoría -->
                <td>${{ product.price }}</td>
                <td>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" style="width: 100px;">
                    {% else %}
                        No hay imagen
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'ProductUpdate' product.id %}"
                        class="product-edit-btn"
                        data-toggle="tooltip" 
                        title="Editar">
                        <i class="fa fa-pencil" 
                            aria-hidden="true"
                            style="font-size:25px;color:hsl(244, 90%, 54%)">
                        </i>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'ProductDelete' product.id %}"
                        class="product-delete-btn"
                        data-toggle="tooltip" title="Borrar" >
                        <i class="fa fa-trash" 
                            aria-hidden="true"
                            style="font-size:25px;color:hsl(244, 90%, 54%)">
                        </i>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}