{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<body class="body-gray">
    <br><br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <h3><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                &nbsp;&nbsp;Reiniciar Contraseña
        </div>
        <hr>
        <br>
        <div class="text-justify">
            <p>Introduzca una nueva contraseña para verificarla.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <br><br>
            <input type="submit" name="update password">
        </form>
    </div>
    <br><br>
</body>
{% endblock content %}