{% extends "store/base.html" %}
{% load static %}
{% block content %} 
<body class="body-gray">
    <br><br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <h3><i class="fa fa-envelope" aria-hidden="true"></i>
                &nbsp;&nbsp;Correo Envíado
            </h3>
        </div>
        <hr>
        <br>
        <div class="text-justify">
            <p>Se ha envíado un correo eléctronico a la dirección proporcionada, por favor siga las instrucciones para reiniciar su contraseña.</p>
        </div>
    </div>
</body>
{% endblock content %}