
{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags%}
{% block content %} 
    <body class="body-gray">
        <br><br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <h3>Reiniciar Contraseña</h3>
            <hr>
            <p>Escriba su correo eléctronico y enviaremso las instrucciones para reiniciarlo.</p>
            <form method="post">
                {%csrf_token%}
                {{form|crispy}}
                <br>
                <input type="submit" 
                name="Send email" 
                class="btn btn-primary navbar-btn text-white w-100 p-2">
            </form>
        </div>
    </body>
{% endblock content %}