{% extends "store/base.html" %}
{% load static %}
{% block content %} 
<body class="body-gray">
    <br><br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <h3><i class="fa fa-check fa-3x text-success"></i>
                &nbsp;&nbsp;Contraseña reiniciada.
        </div>
        <hr>
        <br>
        <div class="text-justify">
            <p>Ahora puede iniciar sesión con su nueva contraseña.</p>
        </div>
        <br>
        <a href="{%url 'url-login' %}" 
            class="text-black text-decoration-none">
            <i class="fa fa-key" aria-hidden="true"></i>
            Iniciar sesion
        </a>
    </div>
</body>
{% endblock content %}